.messagepane
    width: 100%
    .noselecteduser
        height: 100vh
        display: grid
        place-items: center
        .content
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            svg
                width: 300px
                height: 300px
                color: #4866d2
            .echo
                margin-top: 30px
                font-size: 0.9rem
                cursor: pointer
                font-style: italic


.popper
    padding: 10px
    .popper-item
        font-size: 0.8rem
        display: flex
        align-items: center
        padding: 10px
        cursor: pointer
        outline: none
        border: none
        margin: 5px 0
        &:hover
            font-weight: bold
        svg
            font-size: 18px
            margin-right: 5px
